/* =======================
   ROOT VARIABLES
   ======================= */
:root {
    --pink: #fae3e3;
    --grey: #b7b7b7;
    --teal: #137083;
    --purple: #3d0240;
    --white: #fff;
    --almost-black: #212121;
}

/* =======================
   GLOBAL STYLES
   ======================= */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--white);
    color: var(--purple);
    font-size: 1.2rem;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h1,
h2,
h3 {
    font-family: 'Zen Dots', sans-serif;
    margin-top: 0.83em;
    margin-bottom: 0.5rem;
}

section {
    padding: 4rem;
}

a {
    text-decoration: none;
    color: var(--purple);
}

/* =======================
   BUTTONS AND INPUT
   ======================= */
.btn {
    background-color: transparent;
    color: var(--btn-text-color);
    border: 2px var(--btn-border-color) solid;
    border-radius: 2rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: fit-content;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn a {
    color: var(--btn-text-color);
}

.btn:hover {
    background-color: var(--btn-hover-bg);
    color: var(--btn-hover-text);
}

/* White-themed button */
.btn-white {
    --btn-text-color: white;
    --btn-border-color: white;
}

.btn-white:hover {
    --btn-hover-text: var(--purple);
    --btn-hover-bg: var(--white);
}

/* Purple-themed button */
.btn-purple {
    --btn-border-color: var(--purple);
}

.btn-purple:hover {
    --btn-hover-bg: var(--purple);
    --btn-hover-text: var(--white);
}

.btn-purple:hover a {
    --btn-hover-text: var(--white);
}

/* Email input field */

input[type="email"] {
    padding: 0.8rem 2rem;
    margin-right: 20px;
    border: 2px var(--btn-border-color) solid;
    border-radius: 2rem;
    font-size: 1.2rem;
    width: fit-content;
    max-width: 200px;
}

/* =======================
   HEADER & FOOTER
   ======================= */
header,
footer {
    background-color: var(--purple);
    color: var(--white);
    text-align: center;
    padding: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-branding {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.header-branding img {
    width: 30px;
    height: auto;
}

.header-branding h1 {
    font-size: 1.5rem;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

nav a {
    color: var(--white);
    font-weight: 600;
}

nav a:hover {
    color: var(--grey);
}

footer p {
    margin: 0.5rem 0;
}

/* =======================
   HERO SECTION
   ======================= */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(images/choir-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10%;
    height: 60vh;
}

/* .hero::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;

} */

.hero-content {
    max-width: 50%;
    z-index: 2;
}

.hero h2 {
    font-size: 4rem;
    margin: 2rem 0;
    color: var(--white);
}

.hero p {
    color: var(--white);
    margin-bottom: 3rem;
}

.hero-buttons {
    display: flex;
    gap: 3rem;
}

/* =======================
   ABOUT SECTION
   ======================= */
.about {
    display: flex;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
}

.about-left,
.about-right {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    max-width: 80%;
}

.about-image {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 1rem;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

#img-1,
#img-3 {
    transform: translateY(40px);
}

#img-2,
#img-4 {
    transform: translateY(-40px);
}

/* =======================
   EVENTS SECTION
   ======================= */
.events {
    display: flex;
    gap: 20px;
}

.events-left,
.events-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 50%;
}

.events-image {
    display: flex;
    width: 90%;
    overflow: hidden;
    border-radius: 1rem;
}

.events-image img {
    max-width: 100%;
}

.events-grid {
    display: grid;
}

.event-info {
    display: grid;
    grid-template-areas:
        "event-title event-title event-title"
        "event-location event-date ticket-button";
    grid-template-rows: 4rem 4rem;
    grid-template-columns: 3fr 2fr 2fr;
    padding-bottom: 1.5rem;
    border-bottom: 1px var(--purple) solid;
    align-items: center;
    justify-items: start;
}

.event-info h3,
.event-info span {
    margin: 0;
}

.event-title {
    grid-area: event-title;
    padding-top: 1.5rem;
}

.event-location {
    grid-area: event-location;
}

.event-date {
    grid-area: event-date;
    text-transform: uppercase;
}

.ticket-button {
    grid-area: ticket-button;
    justify-self: end;
}

/* =======================
   ALBUMS SECTION
   ======================= */

.albums {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center
}

.albums-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    gap: 20px;
}

.album-card {
    display: grid;
    flex-direction: column;
    grid-template-rows: 1fr 100px;
    max-width: 250px;
}

.album-card img {
    max-width: 100%;
    border-radius: 1rem;
}

/* =======================
   CONTACT SECTION
   ======================= */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* =======================
   FOOTER
   ======================= */

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.footer-branding {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.footer-branding img {
    width: 30px;
    height: auto;
}

.footer-branding h2 {
    font-size: 1.5rem;
    margin: 0;
}

.footer-socials {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.icon {
    width: 24px;
    height: 24px;
}

.icon img {
    height: 100%;
}

/* =======================
   SECTION BACKGROUNDS
   ======================= */
.section-grey {
    background-color: var(--grey);
}

.section-teal {
    background-color: var(--teal);
    color: var(--white);
}

.section-pink {
    background-color: var(--pink);
}

/* =======================
   RESPONSIVE
   ======================= */

@media (max-width: 1024px) {
    /* Tablets and small laptops */

}

@media (max-width: 768px) {

    /* Tablets and large phones in landscape */
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav {
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }

    .header-branding {
        margin-bottom: 2rem;
    }

    .hero-content {
        max-width: 90%;
    }

    .hero h2 {
        font-size: 3rem;
    }

    .hero-buttons {
        flex-direction: column;
        gap: 1rem;
    }

    .about,
    .events {
        flex-direction: column;
    }

    .events-image {
        aspect-ratio: 1 / 1;
        width: 100%;
        overflow: hidden;
        border-radius: 1rem;
    }

    .events-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .about-left,
    .about-right,
    .events-left,
    .events-right {
        flex-basis: 100%;
        /* so they stack properly */
    }

    .image-grid {
        max-width: 100%;
    }

    .events-image {
        width: 100%;
    }

    input[type="email"] {
        margin-bottom: 1rem;
        margin-right: 10px;
    }
}

@media (max-width: 480px) {
    /* Mobile phones */

    .image-grid {
        gap: 20px;
    }

    #img-1,
    #img-3 {
        transform: translateY(10px);
    }

    #img-2,
    #img-4 {
        transform: translateY(-10px);
    }

    .album-card {
        max-width: 100%;
    }

    input[type="email"] {
        margin-bottom: 1rem;
        margin-right: 0;
    }

    .footer-content {
        flex-direction: column;
        gap: 20px;
    }
}

@media (min-width: 769px) {
    .hero-content {
        opacity: 0;
        transform: translateY(20px);
        animation: fade-up 1s ease-out forwards;
        animation-delay: 0.3s;
    }

    @keyframes fade-up {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}